

<div class="title">
    <img class="imageResize" src ="../assets/fotosblack.png">
    <div class='searchBar'>
        <input [disabled]="disabled" [(ngModel)]="term" placeholder="Search for Tags"> 
        <div>
          <button [disabled]="!term" class='btn btn-primary'(click)="addTerm()"><h5>Enter</h5></button>
        </div>
    </div>
    <div class='searchTags'>
        <div class='tag' *ngFor='let term of searchTerm'>
            <button [ngStyle]="term.myStyle" (click)="changeStyle(term.term)"> {{term.term}} <button (click)="deleteTag(term.term)" id="crossbutton"><img id="cross" src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-512.png"></button></button> 
        </div>
      </div>
</div>

<div class ="flex">

   <div class='leftDiv'>

      <div class="insideLeftDiv">

          <h4>GET PHOTOS FROM GOOGLE</h4>

          <div class="checkbox" *ngFor='let album of albums'>
            <input type='checkbox' name = "album" value= {{album.id}}  (change)="checkAlbum(album.id)" checked/> 
               {{album.title}}  
          </div>

          <div class="enterButton">
            <button *ngIf="haveAlbum" type='button' class='btn btn-primary' (click)='getPhoto()'><h5>ENTER</h5></button>
          </div>

          
            <h4>NAME YOUR ALBUM</h4>

            <div class="nameYourAlbum">
              <input [disabled]="photoSelected" [ngStyle]="createAlbumError" [(ngModel)]="albumName" placeholder="Album Name">
            </div>
           
            <div class="enterButton">
               <button type='button' class='btn btn-primary' (click)="createAlbum()"><h5>ENTER</h5></button>
            </div>
      </div>
    </div>
   
   

    <div class='googlePhotos'>
        
              
              <span>
                  <img id="loading" *ngIf="loading" src="../assets/loading.gif">
              </span> 
        
    </div>

    <div class='absoluteGallery'>
        <img style="width: 50vw; margin-top: 10vh; opacity: 0.1;margin-left: 7vw;position:fixed;z-index:-1;" src="font2.png">
    
            <div class="" *ngFor="let link of photos | filter:term" >
                <img (click)="openPic(link.image)" class="googleImages" src= {{link.image}}>
                <br>
                <div *ngIf="!photoURLyouwanttoadd.includes(link.image)">
                  <button class="addPhotoButton" (click)="addLink(link.image)">Add this picture to new album</button>
                </div>
                <div *ngIf="photoURLyouwanttoadd.includes(link.image)">
                  <button class="deselectPhotoButton" (click)="addLink(link.image)">Deselect this picture</button>                    
                </div>
              
                <br>
                <div [ngStyle]="link.photoStyle" id="myModal" class="modal">
                  <span class="close cursor" (click)="closeModal(link.image)"><img style="width:60px" src ="../assets/close.png"></span>
                  <img class="popUpImage" src= {{link.image}}>
                  <br>
                  <div class="tagDiv">
                  <div *ngFor="let tag of link.tags">
                    <div class="tagDivDiv"> 
                        <button class="tagButton">{{tag}}</button> 
                    </div>
                  </div>
                  </div>
                </div>
            </div>
           
          </div>
       
  </div>
