<!--The content below is only a placeholder and can be replaced.-->
<div class="appDiv" style="text-align:center">
  <h4>This is app component</h4>
  <h1>
     {{title}}
  </h1>
  <h3>NO MORE SHATTERED MEMORIES</h3>
  <h3>THE SMART WAY TO ORGANIZE YOUR PHOTOS</h3>


 <!-- <button type='button' class='btn btn-primary' (click)='signLog()'>Start with Google</button>  -->

<!-- <app-signup></app-signup> -->

<!-- <nav>
  <a routerLink="/" routerLinkActive="inactive">signUp</a>
</nav> -->
  <router-outlet ></router-outlet>   
</div>