<!-- <div> 
  <h4>This is album component</h4>
  <button (click)="getAlbum()">Get Album</button>
</div> -->
<div class='albumDiv'>
  <p> Tick the checkbox you want to get pictures from </p>
  <div class="" *ngFor='let album of albums'>
  <input type='checkbox' name = "album" value= {{album.albumID}}  (change)="checkAlbum(album.albumID)" /> 
    {{album.albumName}}  
  </div>
  <br>
  <button type='button' class='btn btn-primary' (click)='getPhotoFromFotosort()'>Get my Albums from Fotosort</button>

</div>
<br>
<div *ngFor="let image of imagesAll">
   <p>{{image.title}}</p>
    <section>
        
          <modal-gallery [modalImages]= "image.image" 
                          [downloadable]="false"
                          [slideConfig]="{infinite: false}"
                          (hasData)="onImageLoaded($event)"
                          (close)="onCloseImageModal($event)"
                          (show)="onVisibleIndex($event)"
                          (firstImage)="onIsFirstImage($event)"
                          (lastImage)="onIsLastImage($event)">
         </modal-gallery>
                 
    </section>
</div>
<!-- <section>
    
      <modal-gallery [modalImages]="images1"
                      [downloadable]="false"
                      [slideConfig]="{infinite: false}"
                      (hasData)="onImageLoaded($event)"
                      (close)="onCloseImageModal($event)"
                      (show)="onVisibleIndex($event)"
                      (firstImage)="onIsFirstImage($event)"
                      (lastImage)="onIsLastImage($event)">
     </modal-gallery>
             
</section>

<section>
    
      <modal-gallery [modalImages]="images2"
                      [downloadable]="false"
                      [slideConfig]="{infinite: false}"
                      (hasData)="onImageLoaded($event)"
                      (close)="onCloseImageModal($event)"
                      (show)="onVisibleIndex($event)"
                      (firstImage)="onIsFirstImage($event)"
                      (lastImage)="onIsLastImage($event)">
     </modal-gallery>
             
</section> -->

<div class="albumDiv">

  <div class="albumName" *ngFor="let album of albums">
    <p class="text-align">Album name: {{album.albumName}} <button class="deleteButton" (click)="deleteAlbum(album.albumID)">Delete Album</button> </p>
    
    <div class="flex-container">

      <div *ngFor="let album of album.images">
        <img class="albumPhotos" src= {{album}}>
      </div>


    </div>

  </div>

</div>